.one{
font-family:Calibri;
background-image:url("sp.jpg");
 background-repeat: no-repeat;
background-size: cover;}
.two{
font-family:Calibri;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
border-radius: 25px;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
border-radius: 25px;
}  
button {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
border-radius: 25px;
background-color: #cccc00;
color:#fff;

}  
 input[type=text]:focus {
  background-color: #eeeeff;
}
 input[type=password]:focus {
  background-color: #eeeeff;
}
input[type=text]::-webkit-input-placeholder{color:#000000;}
input[type=text]::-moz-placeholder{color:#000000;font-family:Arial;font-weight:bold;}
input[type=password]::-webkit-input-placeholder{color:#000000;}
input[type=password]::-moz-placeholder{color:#000000;font-family:Arial;font-weight:bold;}
.form1{
position:fixed;
top:25%;
left:35%;
width: 500px;
padding:40px;
  text-align:center;
  border: 3px solid #00008B;
 border-radius: 25px;
background-color: #f5f5f5;
}
h1.form11{
font-family:Roboto;
}
.pots{
width:500px
}
.bar{
text-align:center;
position:relative;
height:100px;
width:100%;
color:#fff;
background-color:#00008B;
background-image:url("grad1.svg");
background-repeat: no-repeat;
background-size: cover;
padding:20px;
}
.twomain{
position:relative;
height:1000px;
width:800px
}



